html
	head
		meta(charset='utf-8')
		title HackPSU
		include add/_css
		include add/_js
	body
		.pure-g
			.pure-u-1-3
				.profile
					img
					p Missing Since:
					p Age:
					p Sex:
					p Race:
					p Hair Color:
					p Eye Color:
					p Height:
					p Weight:
			.pure-u-1-3
				.profile
					img
					p Missing Since:
					p Age:
					p Sex:
					p Race:
					p Hair Color:
					p Eye Color:
					p Height:
					p Weight:
			.pure-u-1-3
				.profile
					img
					p Missing Since:
					p Age:
					p Sex:
					p Race:
					p Hair Color:
					p Eye Color:
					p Height:
					p Weight: