<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtKYV6mi9hQQ1_euQ8ROKguCD9crPUC3M"></script>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="js/main.js"></script>